<article class="">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-reverse-ns">
      {{ if .Params.section_image }}
      {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
      <div class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3-ns" "pr3-ns" }} mb4 mb0-ns w-100 w-40-ns">
      <a href="{{.RelPermalink}}" class="db grow">
        <img src="{{ .Params.section_image }}" class="img" alt="{{ .Params.alt }}">
      </a>
      </div>
      {{ end }}
      <div class="blah w-100 w-60-ns {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr3-ns" "pl3-ns" }}">
        security/section-image-right.html
        <h1 class="f3 fw1 athelas mt0 lh-title">
          <a href="{{.RelPermalink}}" class="color-inherit dim link">
            {{ .Title }}
            </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</article>
