<nav class="pv3 ph3 ph4-ns sticky-header" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ with .Site.Params.siteLogo }}
        <img src="{{ relURL . }}" class="w100 mw5-ns" id="site-logo" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <div class="flex-l items-center">
      {{ if .Site.Menus.main }}
      <ul class="{{ cond (eq $.Site.Language.LanguageDirection " rtl ") "pr0 ml3" "pl0 mr3" }}">

        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}

        {{ if .HasChildren }}
        <li class="dropdown list f5 f4-ns fw4 dib pl4 {{ cond (eq $.Site.Language.LanguageDirection " rtl ") "pl3" "pr3" }}">
          <a class="hover-white no-underline white-90" href="{{ .URL }}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
            <span>{{ .PageRef }}</span>
          </a>
          <ul class="sub-menu dropdown-content">
            {{ range .Children }}
              <li class="list f5 f4-ns fw4 dib pa2 {{ cond (eq $.Site.Language.LanguageDirection " rtl ") "pl3" "pr3" }}">
                <a class="hover-black no-underline black-70" href="{{ .URL }}">{{ .Name }}</a>
            <span>{{ .PageRef }}</span>
              </li>
            {{ end }}
          </ul>
        </li>
        {{ else }}
        <li class="list f5 f4-ns fw4 dib pl4 {{ cond (eq $.Site.Language.LanguageDirection " rtl ") "pl3" "pr3" }}">
          <a class="hover-white no-underline white-90" href="{{ .URL }}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
            <span>{{ .PageRef }}</span>
          </a>
        </li>
        {{ end }}
        {{ end }}
<!--          {{ range .Site.Menus.main }}-->
<!--          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">-->
<!--            <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">-->
<!--&lt;!&ndash;              {{ .URL | title | replaceRE "Ua" "$1" | replaceRE "/" "$1"}}&ndash;&gt;-->
<!--              {{ .Name }}-->
<!--            </a>-->
<!--          </li>-->
<!--          {{ end }}-->
      </ul>
      {{ end }}
      {{ partial "i18nlist.html" . }}
<!--      {{ partialCached "social-follow.html" . }}-->
    </div>
  </div>
</nav>
