/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

#site-logo {
  max-width: 3rem;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
}

#language_icon {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 3px;
  margin-left: -30px;
  background-color: #FFFFFFFF;
  min-width: 12rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content > a {
  padding: 10px 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.padding-banner-lg {
  padding-top: calc(8rem + 35px);
  padding-bottom: 8rem;
}

.padding-banner-sm {
  padding-top: calc(4rem + 35px);
  padding-bottom: 4rem;
}

.pad-bot-5 {
  padding-bottom: .5rem
}

hr.footer-line {
  border-color: rgba(0,0,0,.1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 2rem;
  /*height: 0;*/
  margin-inline-start: 20%;
  margin-inline-end: 20%;
}

figure {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

figcaption {
  text-align: center;
  line-height: 2;
  padding-left: 1em;
  padding-right: 1em;
}

figcaption h4 {
  font-weight: normal;
}

/* make footer bottom on small page */
.page-container {
  position: relative;
  min-height: 100vh;
}

/* make footer bottom on small page */
.page-content {
  padding-bottom: 265px;    /* Footer height */
}

/* make footer bottom on small page */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.content-image {
  object-fit: contain;
  width: 100%;
}